//{{ data.openapi }}
//通过we-swag生成

var baseurl=""
const request = (url, method, data) => {
    var promise = new Promise((resolve, reject) => {
        //提示一下
        wx.showLoading({
          title: '加载中'
        })
        //网络请求
        wx.request({
            url: baseurl+url,
            data: data,
            method: method,
            //全局header在这里设置
            header: {
            },
            success: function (res) {
                wx.hideLoading()
                //服务器返回数据
                if (res.statusCode == 200) {
                    resolve(res);
                } else {
                    //返回错误提示信息
                    reject(res.data);
                }
            },
            fail: function (e) {
                wx.hideLoading()
                wx.showToast({
                  title: '无法连接服务器',
                  icon: 'loading',
                  duration: 1000
                })
                reject('网络出错');
            }
        })
    });
    return promise;
}
{% for key,value in data.paths %}
//{{key}}
export function {{key.substr(1) | replace("/", "_")}}(data){
    return request("{{key}}",{% if value.get==undefined %}"POST"{% else %}"GET" {% endif %},data)
}
{% endfor %}